/*登录页*/
.yx-body-bg {
	width: 100%;
	height: 600px;
	overflow: hidden;
	background: url("../images/bg/login_bg.jpg") no-repeat center;
}

.yx-login-wrap {
    margin-top: 83px;
    margin-left: 703px;
    width: 386px;
	min-height: 400px;
}

.yx-login-wrap .login-box {
	width: 386px;
    background: #fff;
    height: auto!important;
    border: 1px solid #F5F3EF;
    position: relative;
}

.yx-login-wrap .wrap-header {
    /*position: absolute;*/
    width: 100%;
    height: 70px;
    padding: 0 45px;
    overflow: hidden;
    /*padding: 30px 0 10px;*/
    /*left: 45px;*/
}

.yx-login-wrap .wrap-header .login-hd {
    font-size: 18px;
    color: #333;
    letter-spacing: 0;
    line-height: 70px;
    background: #fff;
    width: 306px;
    overflow: hidden;
}

.yx-login-wrap .login-hd .hd-title {
	cursor: pointer;
    color: #333;
}

#mail-login-box {
	width: 100%;
    border-radius: 3px;
}

.yx-loading {
	width: 100%;
	background: url("../images/icon/loading.gif") no-repeat center;
}

.login-box .login-box-bd {
	width: 100%;
	min-height: 270px;
	padding: 20px 40px;
	background: #fff;
}

.form .form-control {
	position: relative;
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	border: 1px solid #e8e8e8;
}

.form .form-control.error {
	border-color: #AB2B2B;
}

.form .form-control .fc-icon {
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.form .form-control .fc-icon .iconfont {
	font-size: 22px;
	color: #aaa;
}

.form .form-control .fc-input {
	position: absolute;
	left: 41px;
	top: 0;
	width: calc(100% - 41px);
}

.form .form-control input {
	outline: none;
	width: 100%;
	height: 26px;
	margin-top: 7px;
	margin-bottom: 20px;
	padding: 0 10px;
	font-size: 14px;
	color: #666;
	border: 0;
	border-left: 1px solid #e8e8e8;
}

.form .form-control .clear {
	display: none;
	position: absolute;
	right: 10px;
	top: 10px;
	color: #aaa;
}

.form .error-tips {
	margin-top: -10px;
	color :#ab2b2b;
}

.form .error-tips .iconfont {
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
}

.form .error-tips .error-type {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}

.form .form-control-btn {
	width: 100%;
	margin: 40px 0 20px;
}

.form .btn-submit {
    display: block;
    width: 100%;
    height: 48px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: #b4a078;
    font-size: 18px;
    line-height: 48px;
    border-radius: 2px;
    border: 0;
    transition: background .2s;
}

.form .btn-submit:hover {
	background: #c9b48a;
}

.login-box .login-box-ft {
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #F5F3EF;
	overflow: hidden;
}

.login-box .login-box-ft .ft-row {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

.login-box .login-box-ft .iconfont {
	display: block;
	margin-right: 10px;
	font-size: 24px;
	color: #777;
	transition: color: .2s;
}

.login-box .login-box-ft .iconfont:hover {
	color: var(--hoverColor);
}

.login-box .login-box-ft .link {
	font-size: 12px;
	color: #999;
}