<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div class="order-wrap">
		<!-- 订单项 -->
		<table class="order-item" cellpadding="0">
			<tbody>
				<tr class="head">
					<th colspan="3">
						<span class="deal-time">
							<span>下单时间</span>
							<span>2018-07-25 23:04:12</span>
						</span>
						<span class="number">
							<span>订单号</span>
							<span>58506098</span>
						</span>
						<a href="javascript:;" class="iconfont icon-lajitong delete-btn"></a>
					</th>
				</tr>
				<tr class="body">
					<td>
						<div class="package-item">
							<div class="good">
								<a href="/pages/order/orderDetail.html" target="_blank"><img class="img" src="/public/images/order/o1.png"></a>
								<span class="info"><a href="/pages/order/orderDetail.html" target="_blank">20寸 星空 纯PC铝框登机箱</a></span>
							</div>
							<div class="express">
								<div class="cell">
									<span>包裹</span>
									<span>1</span>
								</div>
							</div>
							<div class="status">
								<div class="cell">
									<span>已取消</span>
								</div>
							</div>
						</div>
					</td>
					<td>
						<div class="cost">
							<p class="price">
								<span>¥</span>
								<span>649.00</span>
							</p>
							<p class="fee">
								<span>（含运费：¥<span>0.00</span>元）</span>
							</p>
						</div>
					</td>
					<td>
						<div class="txt-center">
							<a href="/pages/order/orderDetail.html" class="link" target="_blank">查看详情</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<table class="order-item" cellpadding="0">
			<tbody>
				<tr class="head">
					<th colspan="3">
						<span class="deal-time">
							<span>下单时间</span>
							<span>2018-07-25 23:04:12</span>
						</span>
						<span class="number">
							<span>订单号</span>
							<span>58506098</span>
						</span>
						<a href="javascript:;" class="iconfont icon-lajitong delete-btn"></a>
					</th>
				</tr>
				<tr class="body">
					<td>
						<div class="package-item">
							<div class="good">
								<a href="/pages/order/orderDetail.html" target="_blank"><img class="img" src="/public/images/order/o1.png"></a>
								<span class="info"><a href="/pages/order/orderDetail.html" target="_blank">20寸 星空 纯PC铝框登机箱</a></span>
							</div>
							<div class="express">
								<div class="cell">
									<span>包裹</span>
									<span>1</span>
								</div>
							</div>
							<div class="status">
								<div class="cell">
									<span>已取消</span>
								</div>
							</div>
						</div>
					</td>
					<td>
						<div class="cost">
							<p class="price">
								<span>¥</span>
								<span>649.00</span>
							</p>
							<p class="fee">
								<span>（含运费：¥<span>0.00</span>元）</span>
							</p>
						</div>
					</td>
					<td>
						<div class="txt-center">
							<a href="/pages/order/orderDetail.html" class="link" target="_blank">查看详情</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- 订单为空时显示 -->
	<!-- <div class="order-null order-wrap">
		<div class="emptylist-wrap">
			<div class="empty-status">
				<div class="icon-empty icon-empty-order"></div>
				<div class="empty-text">当前订单为空</div>
			</div>
		</div>
	</div> -->
</body>
</html>