<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<!-- 评论 -->
	<div class="detail-comment">
		<div class="comment-hd">
			<div class="good-rates yx-ibt">
				<div class="label">好评率</div>
				<div class="good-rate">98.6%</div>
				<div class="star-wrap">
					<span class="iconfont icon-collected star"></span>
					<span class="iconfont icon-collected star"></span>
					<span class="iconfont icon-collected star"></span>
					<span class="iconfont icon-collected star"></span>
					<span class="iconfont icon-collected star"></span>
				</div>
			</div>
			<div class="commnet-nav yx-ibt">
				<div class="title">大家都在说：</div>
				<div class="label-list">
					<span class="label active" data-name="全部">全部(7346)</span>
					<span class="label" data-name="有图">有图(226)</span>
					<span class="label" data-name="追评">追评(94)</span>
					<span class="label" data-name="很舒服">很舒服(605)</span>
					<span class="label" data-name="质量上乘">质量(480)</span>
					<span class="label" data-name="质量上乘">质量(480)</span>
					<span class="label" data-name="质量上乘">质量(480)</span>
					<span class="label" data-name="质量上乘">质量(480)</span>
				</div>
			</div>
		</div>
		<div class="comment-bd">
			<!-- 排序 -->
			<div class="comment-sortbar">
				<div class="sorts">
					<span class="name">排序: </span>
					<a href="javascript:;" class="sort sort-default active">默认</a>
					<a href="javascript:;" class="sort sort-time">评论时间<i style="font-style: normal; margin-left:5px;">↓</i></a>
				</div>
			</div>
			<!-- 评论列表 -->
			<ul class="comment-list">
				<li class="com-item">
					<div class="com-user yx-ibt">
						<div class="avator-wrap">
							<img src="/public/images/icon/default_user.png" class="avator-img">
							<div class="mask"></div>
						</div>
						<div class="username">u*****e
						</div>
					</div>
					<div class="com-content yx-ibt">
						<div class="star-wrap">
							<span class="iconfont icon-collected star"></span>
							<span class="iconfont icon-collected star"></span>
							<span class="iconfont icon-collected star"></span>
							<span class="iconfont icon-collected star"></span>
							<span class="iconfont icon-collected star"></span>
						</div>
						<div class="sku-info">
							<span>颜色：黑色</span>
							<span>尺寸：XL</span>
						</div>
						<div class="content">衣服穿着非常柔软舒适，下了一次水也没褪色的现象，非常不错的衣服</div>
						<ul class="pic-list">
							<li class="pic-item">
								<div class="before"></div>
								<img src="https://yanxuan.nosdn.127.net/4e0eb26a9460de252f5d8046b7019f07.jpg?imageView&quality=95&thumbnail=140x140" class="img">
							</li>
							<li class="pic-item">
								<div class="before"></div>
								<img src="https://yanxuan.nosdn.127.net/4e0eb26a9460de252f5d8046b7019f07.jpg?imageView&quality=95&thumbnail=140x140" class="img">
							</li>
						</ul>
						<div class="pulish-time">2018-05-23 18:07</div>
						<div class="reply">
							<div class="service-name yx-ibt">小选回复:</div>
							<div class="content yx-ibt">您的满意，一直是我们的追求，有您的支持我们会努力做的更好，期待您的再次光临！</div>
						</div>
					</div>
				</li>
				<li class="com-item">
					<div class="com-user yx-ibt">
						<div class="avator-wrap">
							<img src="/public/images/icon/default_user.png" class="avator-img">
							<div class="mask"></div>
						</div>
						<div class="username">u*****e
						</div>
					</div>
					<div class="com-content yx-ibt">
						<div class="star-wrap">
							<span class="iconfont icon-collected star"></span>
							<span class="iconfont icon-collected star"></span>
							<span class="iconfont icon-collected star"></span>
							<span class="iconfont icon-collected star"></span>
							<span class="iconfont icon-collected star"></span>
						</div>
						<div class="sku-info">
							<span>颜色：黑色</span>
							<span>尺寸：XL</span>
						</div>
						<div class="content">衣服穿着非常柔软舒适，下了一次水也没褪色的现象，非常不错的衣服</div>
						<ul class="pic-list">
							<li class="pic-item">
								<div class="before"></div>
								<img src="https://yanxuan.nosdn.127.net/4e0eb26a9460de252f5d8046b7019f07.jpg?imageView&quality=95&thumbnail=140x140" class="img">
							</li>
							<li class="pic-item">
								<div class="before"></div>
								<img src="https://yanxuan.nosdn.127.net/4e0eb26a9460de252f5d8046b7019f07.jpg?imageView&quality=95&thumbnail=140x140" class="img">
							</li>
						</ul>
						<div class="pulish-time">2018-05-23 18:07</div>
						<div class="reply">
							<div class="service-name yx-ibt">小选回复:</div>
							<div class="content yx-ibt">您的满意，一直是我们的追求，有您的支持我们会努力做的更好，期待您的再次光临！</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<div class="comment-pager">
			<div class="pager-inner">
				<a href="javascript:;" data-page="0" class="page disabled">
					<i class="iconfont icon-prev"></i>上一页
				</a>
				<a href="javascript:;" data-page="1" class="page selected">1</a>
				<a href="javascript:;" data-page="2" class="page">2</a>
				<a href="javascript:;" data-page="3" class="page">3</a>
				<a href="javascript:;" data-page="4" class="page">4</a>
				<a href="javascript:;" data-page="5" class="page">5</a>
				<a href="javascript:;" data-page="6" class="page ">
					下一页<i class="iconfont icon-next"></i>
				</a>
			</div>
		</div>
	</div>
</body>
</html>